<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button type='button' ion-button item-end clear icon-only (tap)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <video class="video-container" [style.display]="player ? 'block' : 'none'"></video>
  <ion-scroll scrollY="true" class="test">
    <ion-list>
      <ion-item *ngFor="let video of playlist;let i = index" [class.current-index]="i === videoIndex">
        <ion-avatar item-start>
          <img [src]="video.thumbnailUrl">
        </ion-avatar>
        <h2>{{video.title}}</h2>
        <p>{{video.channelTitle}}</p>
        <button type='button' ion-button item-end small clear icon-only (tap)="likeVideo(video)">
          <ion-icon name="happy"></ion-icon>
        </button>
        <button type='button' ion-button item-end small clear icon-only (tap)="removeVideo(video)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <ion-fab bottom right *ngIf="!player">
    <button ion-fab (tap)="play()">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
