<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="video-container">
    <video></video>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>
  <ion-scroll scrollY="true" class="test">
    <ion-list>
      <ion-item *ngFor="let video of videoList | async">
        <ion-avatar item-start>
          <img [src]="video.thumbnailUrl">
        </ion-avatar>
        <h2>{{video.title}}</h2>
        <p>{{video.channelTitle}}</p>
      </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>
