page-about {
  .videos-content {
    margin-bottom: 50px;
    margin-top: 44px;
    height: 100%;
  }

  .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-container:after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .test {
    flex: 1;
  }

  .plyr {
    flex: 1;
  }
}
