page-about {
  .videos-content {
    margin-bottom: 50px;
    margin-top: 44px;
    height: 100%;
  }

  .video-container {
    width: 100%;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
  }

  .test {
    flex: 1;
  }

  .current-index {
    background-color: color($colors, header);
  }
}
