page-login {
  .fixed-content {
    background-image: url('../../assets/login-bg.jpg') !important;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .login-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}
