<ion-header>
  <ion-navbar>
    <ion-title>
      <img [src]="'/assets/logo.png'">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="groups | async">
    <group *ngFor="let group of groups | async" [groupElement]="(group | async)" (groupClicked)="navToPlaylist($event)"></group>
  </ion-list>
  <ion-fab bottom right>
    <button [navPush]="editGroupPage" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-footer no-border>
  </ion-footer>
</ion-content>
