<ion-header>
  <ion-navbar>
    <ion-searchbar
      [formControl]="searchControl"
      (ionInput)="onSearchInput()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item[imageProperty]">
      </ion-thumbnail>
      <h2>{{item[headerProperty]}}</h2>
      <p>{{item[subHeaderProperty]}}</p>
      <button type='button' ion-button item-end default clear icon-only (tap)="toggleItem(item)">
        <ion-icon [name]="item[existProperty] ? 'trash' : 'add'"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
